body
{ background-image:url(xxd.jpg);
}
.hola{
font-size:70px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:burlywood;
background-color:brown;
border:dotted 10px black;
}
.uwu {
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aqua;
    background-color:blue;
    border: dotted 10px red;
}
.skz {
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: cadetblue;
    border: dotted 10px green;
}
.wd {
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
    background-color: darkkhaki;
    border: dotted 10px yellow;
}
.charala {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: lemonchiffon;
    background-color: lightgreen;
    border: dotted 10px pink;
}

  



    
